.ec_fondo{
  min-height: 100%;
  background-image: linear-gradient(
    #ec428c 0%,
    #ec428c 40%,
    #f9c6dd 40%,
    #f9c6dd 100%
  );
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.ec_caja{
  display: flex;
flex-direction: row;
  height: 50%;
width: 50%;
background-color: white;
border-style: solid;
border-color: #ec428b;
border-radius: 1%;
}

.FotoEC{
  align-items: center;
  width: 100%;
  height: 100%;
}