.fondo-pantallaLE {
  min-height: 83vh;
  background-image: linear-gradient(
    #ec428c 0%,
    #ec428c 40%,
    #f9c6dd 40%,
    #f9c6dd 100%
  );
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.scrollitLE{
  overflow-y: scroll;
  height: 80%;
}
.caja-derechaLE {
  background-color: white;
  min-height: 60vh;
  min-width: 40%;
  border-radius: 15px;
  max-height: 75vh;
  max-width: 60vw;
  
}
.caja-izquierdaLE {
  background-color: white;
  min-height: 80vh;
  min-width: 40%;
  border-radius: 15px;
  max-height: 82vh;
  max-width: 60vw;
}

.botonesModificacionLE {
  display: flex;
  height: 10%;
  gap: 30%;
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 15%;
}

.botonModificacionLE {
  display: inline-block;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  width: 60%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "CrimsonText", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #ec428c;
}

.botonModificacionLE:hover {
  border-color: grey;
}

.botonCambiarFotoLE {
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "CrimsonText", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #ec428c;
}

.botonCambiarFotoLE:hover {
  border-color: grey;
}

.InputsNombreLE, .InputsApellido-CorreoLE {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding-bottom: 15px;
}



.NombreVacioLabelLE, .ApellidosVacioLabelLE, .CorreoVacioLabelLE{
  color:red;
  font-style: italic;
  font-size: 0.875em;
}

.Avatar-logoLE{
  width: 30%;
}

.formDatosInput{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.formsDatos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.form-label-mod{
  font-size: 100%;
  padding-bottom: 6px;
}
.form-control-modElim{
  font-size: 100%;
}

.mensaje_error-ModElim{
  color: red;
  font-size: small;
  height:1em;
}
.seccionEntradasGModificarPerfil{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 40px 0px 40px;

}
.cajaColumnaModElim{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.comboBoxModElim{
  flex-direction: column;
  border-radius: 10px;
  min-height: 5vh;
  width: 110%;
  border-color: black;
  background-color: #ECECEC;
  font-size: 100%;
}

.botonesCambiosModElim{
  display: flex;
  flex-direction: row;
  gap: 20px;
}