.grid-container{
    display: grid;
    width: 100vw;
    grid-template-columns: 20vw 80vw;
    height: 85vh;
    
}

.Ventana{
    width: 100%;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}